<div class="feature">
  <div class="container">
    <h2>Features That Make Us Unique</h2>
    <p>
      Setting New Standards in Dental Excellence, providing cutting-edge
      treatments, personalized care, and exceptional results for a healthier,
      brighter smile
    </p>
  </div>
  <div class="sub-container">
    <div class="left-side">
      <div class="features">
        <div class="ico">
          <span><i class="fas fa-heartbeat"></i></span>
        </div>
        <div class="text">
          <h4>24/7 Emergency</h4>
          <p>
            We offer round-the-clock emergency services, ensuring your health
            and well-being are always prioritized during urgent dental needs.
          </p>
        </div>
      </div>

      <div class="features">
        <div class="ico">
          <span><i class="fas fa-x-ray"></i></span>
        </div>
        <div class="text">
          <h4>X-Ray Service</h4>
          <p>
            We use advanced X-ray technology for accurate diagnostics, ensuring
            precise treatment planning and optimal care for every patient.
          </p>
        </div>
      </div>

      <div class="features">
        <div class="ico">
          <span><i class="fas fa-hand-holding-heart"></i></span>
        </div>
        <div class="text">
          <h4>Intensive Care</h4>
          <p>
            We provide intensive care for patients needing critical attention,
            ensuring expert monitoring and exceptional treatment for recovery
            success.
          </p>
        </div>
      </div>
    </div>
    <div class="right-side">
      <div class="features">
        <div class="ico">
          <span><i class="fas fa-user-md"></i></span>
        </div>
        <div class="text">
          <h4>Expert Consultation</h4>
          <p>
            Our skilled professionals provide personalized consultations to
            address your dental health concerns and recommend effective
            treatment options.
          </p>
        </div>
      </div>

      <div class="features">
        <div class="ico">
          <span><i class="fas fa-cogs"></i></span>
        </div>
        <div class="text">
          <h4>Dental Science</h4>
          <p>
            Our clinic integrates the latest dental science advancements,
            ensuring safe, effective, and cutting-edge procedures for optimal
            oral health.
          </p>
        </div>
      </div>

      <div class="features">
        <div class="ico">
          <span><i class="fas fa-teeth"></i></span>
        </div>
        <div class="text">
          <h4>Orthodontic Care</h4>
          <p>
            We offer expert orthodontic treatments, including braces and
            aligners, to achieve a straighter, healthier smile for all ages.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
