<footer class="footer-container">
  <div class="footer-content">
    <!-- Logo and Intro -->
    <div class="footer-section">
      <div class="footer-top">
        <span class="logo">
          <mat-icon>health_and_safety</mat-icon> Healthy Teeth Dental
        </span>
        <p class="intro-text">
          We’re a friendly team of dentists working together to ensure that you
          receive the best treatment that you require.
        </p>
      </div>
    </div>
    <div class="footer-separator"></div>
    <!-- Horizontal Line -->
    <div class="below">
      <!-- Menu -->
      <div class="footer-section">
        <h4>Menu</h4>
        <ul>
          <li><a mat-button routerLink="/">Home</a></li>
          <li><a mat-button routerLink="/about">About Us</a></li>
          <li><a mat-button routerLink="/service">Services</a></li>
          <li><a mat-button routerLink="/contact">Contact</a></li>
        </ul>
      </div>

      <!-- Utility Pages -->
      <div class="footer-section">
        <h4>Patient Resources</h4>
        <ul>
          <li><a mat-button routerLink="/appointment">Appointment</a></li>
          <li><a mat-button routerLink="/faq">FAQs</a></li>
          <li>
            <a mat-button routerLink="/terms-of-service">Terms of Service</a>
          </li>
          <li><a mat-button routerLink="/privacy-policy">Privacy Policy</a></li>
        </ul>
      </div>

      <!-- Contact -->
      <div class="footer-section">
        <h4>Contact</h4>
        <ul>
          <li><mat-icon>location_on</mat-icon> RANHOLA RD, SHIVA ENCLAVE</li>
          <li><mat-icon>email</mat-icon> healthyteethdental50&#64;gmail.com</li>
          <li><mat-icon>phone</mat-icon> 1-800-123-9999</li>
        </ul>
      </div>
    </div>

    <div class="footer-bottom">
      <p>&copy; {{ currentYear }} Healthy Teeth Dental. All Rights Reserved.</p>

      <div class="social-icons">
        <button mat-icon-button><i class="fab fa-facebook"></i></button>
        <button mat-icon-button><i class="fab fa-instagram"></i></button>
        <button mat-icon-button><i class="fab fa-twitter"></i></button>
        <button mat-icon-button><i class="fab fa-linkedin"></i></button>
      </div>
    </div>
  </div>
</footer>
