<div class="hero-container">
  <div class="content">
    <div class="content">
      <!-- <small>We Prioritize Your</small> -->
      <h1>Dental Implants</h1>
    </div>
    <p class="subquote">Your Trusted Dentist, Right Here</p>
  </div>

  <div class="hours-container">
    <div class="about-section">
      <mat-card>
        <div class="service-content">
          <span><i class="fas fa-tooth"></i> </span>
        </div>
        <mat-card-title>About the service</mat-card-title>
        <mat-card-content>
          <p>
            Dental implants are a long-term solution for replacing missing
            teeth, providing a natural look and feel. They are small titanium
            posts that are surgically inserted into the jawbone to serve as a
            sturdy foundation for crowns, bridges, or dentures.
          </p>

          <ul>
            <li>
              Restores functionality and appearance, allowing you to eat and
              smile confidently.
            </li>
            <li>
              Preserves the jawbone by preventing bone loss due to missing
              teeth.
            </li>
            <li>
              Designed to last a lifetime with proper care and maintenance.
            </li>
          </ul>

          <p>
            Dental implants offer unmatched stability and durability compared to
            other tooth replacement options. They improve oral health by
            reducing the risk of gum disease and adjacent tooth shifting.
            Whether you’re missing a single tooth or multiple teeth, dental
            implants can significantly enhance your quality of life.
          </p>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>
<div class="empty"></div>
