<div class="stats-container">
  <mat-card>
    <mat-card-header>
      <mat-icon class="icon">groups</mat-icon>
    </mat-card-header>
    <mat-card-content>
      <h2>1.5 Crore+</h2>
      <p>Satisfied Patients</p>
    </mat-card-content>
  </mat-card>

  <mat-card>
    <mat-card-header>
      <mat-icon class="icon">event_note</mat-icon>
    </mat-card-header>
    <mat-card-content>
      <h2>2 Million+</h2>
      <p>Doctor Appointments</p>
    </mat-card-content>
  </mat-card>

  <mat-card>
    <mat-card-header>
      <mat-icon class="icon">workspace_premium</mat-icon>
    </mat-card-header>
    <mat-card-content>
      <h2>200,000+</h2>
      <p>Certified Experts</p>
    </mat-card-content>
  </mat-card>
</div>
