<div class="hero-container">
  <div class="text">
    <div class="content">
      <small>SHORT ABOUT US</small>
      <h1>
        <span> A Simple Story About The</span><br />
        Healthy Teeth Dental
      </h1>
    </div>

    <button mat-raised-button class="start" routerLink="/appointment">
      CONTACT US
    </button>
  </div>

  <div class="hours-container">
    <mat-card>
      <img mat-card-image src="/team.jpg" alt="Description of image" />
    </mat-card>
  </div>
</div>
<app-about-clinic></app-about-clinic>
<app-no-of-users></app-no-of-users>
<app-consultants></app-consultants>
<app-contact></app-contact>
