<div class="customer-container">
  <div class="header">
    <h2>What We Offer to Our Customers</h2>
    <p>"Your Smile, Our Priority."</p>
  </div>

  <div class="card">
    <mat-card>
      <img mat-card-image src="/dental img1.webp" alt="Card image" />
      <mat-card-content>
        <h4>Total Dental Wellness</h4>
        <small>
          Routine check-ups, cleanings, and preventive care to keep your smile
          healthy.
        </small>
      </mat-card-content>
    </mat-card>
    <mat-card>
      <img mat-card-image src="/whitning dental.webp" alt="Card image" />
      <mat-card-content>
        <h4>Cosmetic Dentistry</h4>
        <small>
          Teeth whitening, veneers, and smile makeovers to enhance the
          appearance of your smile.
        </small>
      </mat-card-content>
    </mat-card>
    <mat-card>
      <img mat-card-image src="/child dental .webp" alt="Card image" />
      <mat-card-content>
        <h4>Pediatric Dentistry</h4>
        <small>
          Gentle, child-friendly care to ensure a positive experience for your
          little ones.
        </small>
      </mat-card-content>
    </mat-card>
    <mat-card>
      <img mat-card-image src="/tech dental.webp" alt="Card image" />
      <mat-card-content>
        <h4>Modern Technology</h4>
        <small>
          State-of-the-art equipment and digital X-rays for accurate diagnostics
          and treatments.
        </small>
      </mat-card-content>
    </mat-card>
  </div>
</div>
