<div class="consultants">
  <div class="header">
    <h2>Our Consultants</h2>
    <p>
      Meet our experienced consultants, dedicated to providing expert dental
      care and personalized solutions for your oral health needs
    </p>
  </div>
  <div class="consultants-grid">
    <mat-card class="consultant-card">
      <!-- <mat-card-header>
        <img mat-card-avatar src="/consultant1.jpg" alt="Emma Stone" />
      </mat-card-header> -->
      <img mat-card-image src="/consultant1.webp" alt="Emma Stone" />
      <mat-card-content>
        <h3>Emma Stone</h3>
        <p>Senior Dentist</p>
        <p class="specialization">Expert in General Dentistry</p>
      </mat-card-content>
      <mat-card-actions>
        <!-- <div class="buttons">
          <button mat-button>VIEW PROFILE</button>
        </div> -->
        <!-- <div class="pro"></div> -->
      </mat-card-actions>
    </mat-card>

    <mat-card class="consultant-card">
      <!-- <mat-card-header>
        <img
          mat-card-avatar
          src="/assets/images/consultant2.jpg"
          alt="James Smith"
        />
      </mat-card-header> -->
      <img mat-card-image src="/consultant2.webp" alt="James Smith" />
      <mat-card-content>
        <h3>James Smith</h3>
        <p>Dental Surgeon</p>
        <p class="specialization">Specialist in Oral Surgery</p>
      </mat-card-content>
      <mat-card-actions>
        <!-- <div class="buttons">
          <button mat-button>VIEW PROFILE</button>
        </div> -->
        <!-- <div class="pro"></div> -->
      </mat-card-actions>
    </mat-card>

    <mat-card class="consultant-card">
      <!-- <mat-card-header>
        <img
          mat-card-avatar
          src="/assets/images/consultant3.jpg"
          alt="Olivia Johnson"
        />
      </mat-card-header> -->
      <img mat-card-image src="/consultant3.webp" alt="Olivia Johnson" />
      <mat-card-content>
        <h3>Olivia Johnson</h3>
        <p>Orthodontist</p>
        <p class="specialization">Braces and Aligners Specialist</p>
      </mat-card-content>
      <mat-card-actions>
        <!-- <div class="buttons">
          <button mat-button>VIEW PROFILE</button>
        </div> -->
        <!-- <div class="pro"></div> -->
      </mat-card-actions>
    </mat-card>

    <mat-card class="consultant-card">
      <!-- <mat-card-header>
        <img
          mat-card-avatar
          src="/assets/images/consultant4.jpg"
          alt="Robert Brown"
        />
      </mat-card-header> -->
      <img mat-card-image src="/consultant4.webp" alt="Robert Brown" />
      <mat-card-content>
        <h3>Emily Brown</h3>
        <p>Pediatric Dentist</p>
        <p class="specialization">Excellence in Child Dental Care</p>
      </mat-card-content>
      <mat-card-actions>
        <!-- <div class="buttons">
          <button mat-button>VIEW PROFILE</button>
        </div> -->
        <!-- <div class="pro"></div> -->
      </mat-card-actions>
    </mat-card>
  </div>
</div>
