<div class="consultants">
  <div class="header">
    <h2>Our Consultants</h2>
    <p>
      Meet our experienced consultants, dedicated to providing expert dental
      care and personalized solutions for your oral health needs
    </p>
  </div>
  <div class="consultants-grid">
    <mat-card class="consultant-card">
     
      <img mat-card-image src="/consultant1.webp" loading="lazy" alt="Emma Stone" />
      <mat-card-content>
        <h3>Emma Stone</h3>
        <p>Senior Dentist</p>
        <p class="specialization">Expert in General Dentistry</p>
      </mat-card-content>
      <mat-card-actions>
        
      </mat-card-actions>
    </mat-card>

    <mat-card class="consultant-card">
     
      <img mat-card-image src="/consultant2.webp" loading="lazy" alt="James Smith" />
      <mat-card-content>
        <h3>James Smith</h3>
        <p>Dental Surgeon</p>
        <p class="specialization">Specialist in Oral Surgery</p>
      </mat-card-content>
      <mat-card-actions>
        
      </mat-card-actions>
    </mat-card>

    <mat-card class="consultant-card">
      
      <img mat-card-image src="/consultant3.webp" loading="lazy" alt="Olivia Johnson" />
      <mat-card-content>
        <h3>Olivia Johnson</h3>
        <p>Orthodontist</p>
        <p class="specialization">Braces and Aligners Specialist</p>
      </mat-card-content>
      <mat-card-actions>
       
      </mat-card-actions>
    </mat-card>

    <mat-card class="consultant-card">
     
      <img mat-card-image src="/consultant4.webp" loading="lazy" alt="Robert Brown" />
      <mat-card-content>
        <h3>Emily Brown</h3>
        <p>Pediatric Dentist</p>
        <p class="specialization">Excellence in Child Dental Care</p>
      </mat-card-content>
      <mat-card-actions>
        
      </mat-card-actions>
    </mat-card>
  </div>
</div>
