<div class="hero-container">
  <div class="content">
    <div class="content">
      <!-- <small>We Prioritize Your</small> -->
      <h1>Smile Design & Prosthesis</h1>
    </div>
    <p class="subquote">Your Trusted Dentist, Right Here</p>
  </div>

  <div class="hours-container">
    <div class="about-section">
      <mat-card>
        <div class="service-content">
          <span><i class="fas fa-smile"></i></span>
        </div>
        <mat-card-title>About the service</mat-card-title>
        <mat-card-content>
          <p>
            Smile Design & Prosthesis involves the art and science of creating a
            beautiful, confident smile. It combines advanced dental techniques
            to improve the aesthetics and functionality of your teeth, tailored
            specifically to your facial features and preferences.
          </p>

          <ul>
            <li>
              Customized smile makeover plans for natural and symmetrical
              aesthetics.
            </li>
            <li>
              Use of prosthetic solutions like crowns, bridges, veneers, and
              dentures to restore functionality and appearance.
            </li>
            <li>
              Improves self-confidence and quality of life with a perfect smile.
            </li>
          </ul>

          <p>
            Smile design integrates cutting-edge technology and artistic vision
            to enhance your smile. Prosthetic solutions are designed to be
            durable, functional, and visually appealing, ensuring you achieve
            both health and beauty in your dental care.
          </p>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>
<div class="empty"></div>
