<div class="container">
  <div class="about-us">
    <div class="heading"><small>BOOK AN APPOINTMENT</small></div>
    <div class="sub-heading">
      <h2>Schedule a virtual or presential appointment today</h2>
      <p>
        Experience top-notch dental care with our expert team. Whether it's a
        routine check-up, teeth cleaning, or addressing dental concerns, we're
        here to help you achieve a healthy and confident smile.
      </p>
    </div>

    <div class="buttons">
      <button class="primary" routerLink="/appointment">
        Book an Appointment
      </button>
      <button class="secondary" routerLink="/about">About Us</button>
    </div>
  </div>
  <div class="container-img">
    <img src="/hands.webp" alt="Hands Holding - Supportive Gesture" />
  </div>
</div>
