<div class="appointment-container">
  <div class="header">
    <span class="divider"></span>
    <span class="text">MAKE AN APPOINTMENT</span>
    <span class="divider"></span>
  </div>
  <h1>Online consultations with<br />Certified doctors</h1>
  <div class="actions">
    <div class="button-sec">
      <button
        mat-raised-button
        color="primary"
        class="book-button"
        routerLink="/appointment"
      >
        BOOK AN APPOINTMENT
      </button>
    </div>

    <span>(OR)</span>
    <div class="or-section">
      <a href="tel:1-800-123-9999" class="call-link">
        <mat-icon>call</mat-icon> Call: 1-800-123-9999
      </a>
    </div>
  </div>
</div>
