/* Hero Section */
.hero-container {
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), image-set(url('/contact.webp')1x) center/cover no-repeat;
  background-size: cover; 
  height: 600px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  text-align: center;
  position: relative;
}


.content h1 {
  font-size: 4rem;
  font-weight: bold;
  margin-bottom: 2rem;
  width: 800px;
}
h1{
  letter-spacing: 3px;
}

small{
  font-size: 1.2rem;
  color: rgb(252, 151, 114);
}

@media screen and (min-width: 128px) and (max-width: 900px) {
  .hero-container {
    width: 100%;
    padding: 2rem;
    height: auto; 
    min-height: 600px; 
    background-size: cover; 
    background-position: center; 
  }

  .content {
    text-align: center; 
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    align-items: center;
  }
.content p{
  font-size: 0.8rem;
  line-height: 30px;
  width: 100%;

}
  .content h1 {
    font-size: 2.6rem; 
    font-weight: bold; 
    margin-bottom: 1rem; 
    letter-spacing: 2px; 
    line-height: 1.5;
    width: 100%;
  }

  small {
    font-size: 0.9rem; 
    display: block; 
    margin-bottom: 0.5rem; 
  }
  span{
    font-size: 2rem;
  }
  

  small {
    font-size: 1rem; 
    color: rgb(252, 151, 114); 
    display: block;
    margin-bottom: 0.5rem; 
  }
}

