<div class="hero-container">
  <div class="content">
    <div class="content">
      <!-- <small>We Prioritize Your</small> -->
      <h1>Clinic Policies</h1>
    </div>
    <p class="subquote">Your Trusted Dentist, Right Here</p>
  </div>
</div>
<div class="hours-container">
  <div class="about-section">
    <mat-card>
      <mat-card-title
        ><h3>Important Guidelines for Patients & Staff</h3></mat-card-title
      >
      <mat-card-content>
        <p>
          Welcome to our Healthy Teeth Dental Clinic! To ensure a smooth and
          safe experience for both our employees and patients, we have
          established the following policies:
        </p>

        <ul>
          <li>
            Employees and patients must adhere to all health and safety
            guidelines, including wearing masks and sanitizing hands upon entry.
          </li>
          <li>
            Patients should arrive 10-15 minutes before their appointment for
            necessary paperwork and check-in.
          </li>
          <li>
            Our clinic follows strict privacy and confidentiality standards to
            protect patient information.
          </li>
          <li>
            Cancellations should be made at least 24 hours in advance to avoid
            rescheduling fees.
          </li>
          <li>
            Eating and drinking are not allowed in the treatment areas to
            maintain hygiene and cleanliness.
          </li>
          <li>
            Parents or guardians must accompany minors (under 18) during their
            dental visits.
          </li>
          <li>
            Employees must follow proper infection control procedures, including
            sterilizing equipment after each use.
          </li>
          <li>
            Staff members should maintain professionalism and respectful
            communication with all patients and colleagues.
          </li>
          <li>
            Mobile phones must be on silent mode in treatment areas to avoid
            distractions.
          </li>
          <li>
            Patients with medical conditions or allergies should inform the
            staff before any procedure.
          </li>
        </ul>

        <p>
          We strive to provide excellent care and maintain a positive and
          respectful environment. By following these policies, we can ensure the
          highest quality service for everyone involved.
        </p>
      </mat-card-content>
    </mat-card>
  </div>
</div>
