<div class="hero-container">
  <div class="content">
    <div class="content">
      <!-- <small>We Prioritize Your</small> -->
      <h1>Dental Surgery</h1>
    </div>
    <p class="subquote">Your Trusted Dentist, Right Here</p>
  </div>

  <div class="hours-container">
    <div class="about-section">
      <mat-card>
        <div class="service-content">
          <span><i class="fas fa-syringe"></i> </span>
        </div>
        <mat-card-title>About the service</mat-card-title>
        <mat-card-content>
          <p>
            Dental surgery encompasses a range of procedures aimed at addressing
            oral health issues, from tooth extraction to corrective jaw surgery.
            These procedures are performed by dental professionals to improve
            functionality, alleviate pain, and enhance overall oral health.
          </p>

          <ul>
            <li>
              Helps in resolving severe tooth decay, gum disease, and impacted
              teeth effectively.
            </li>
            <li>
              Corrects structural issues like misaligned jaws, ensuring better
              bite and improved speech.
            </li>
            <li>
              Enhances oral health and prevents further complications with
              timely interventions.
            </li>
          </ul>

          <p>
            Dental surgery is essential for maintaining oral health, especially
            in cases where non-invasive treatments are insufficient. Whether
            it's a wisdom tooth removal, reconstructive surgery, or periodontal
            procedures, dental surgery plays a pivotal role in restoring oral
            functionality and improving overall well-being.
          </p>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>
<div class="empty"></div>
