<div class="list">
  <h2 class="heading">Doctors List</h2>
</div>
<div class="admin-container">
  <div class="card-container">
    <!-- Loop through the list of doctors -->
          <div *ngIf="doctors.length > 0; else noAppointments">

    <div *ngFor="let doctor of doctors" class="card-wrapper">
      <mat-card class="doctor-card">
        <mat-card-header class="card-header">
          <mat-card-title>{{ doctor.name }}</mat-card-title>
          <mat-card-subtitle>{{ doctor.email }}</mat-card-subtitle>
          <div class="del" (click)="deleteDoctor(doctor._id)">
            <i class="fas fa-trash"></i>
          </div>
        </mat-card-header>

        <mat-card-content>
          <div><strong>Phone:</strong> {{ doctor.phone }}</div>
          <div><strong>Specialty:</strong> {{ doctor.role }}</div>
        </mat-card-content>
      </mat-card>
    </div>
<ng-template #noAppointments>
      <p>No doctors available at the moment.</p>
    </ng-template>

  </div>
</div>
