<div class="container">
  <div class="right-text">
    <h2>Innovative and Personalized Dental Care Just for You</h2>
    <p class="subquote">
      Our team of highly skilled dental professionals utilizes the latest
      technologies to ensure your oral health and comfort. We thoroughly assess
      and address all contributing factors to your dental concerns, including
      oral hygiene habits, lifestyle, and stressors, to provide comprehensive
      care.
    </p>
  </div>
  <div class="card">
    <mat-card class="profile-card">
      <mat-card-title>Dr. Jane Doe, BDS, MDS (Ortho) </mat-card-title>
      <mat-card-subtitle>Orthodontist & Dental Surgeon</mat-card-subtitle>
      <mat-card-content>
        <p>
          “ Our mission is to enhance oral health in our community by delivering
          high-quality, personalized dental care in a friendly and comfortable
          environment. ”
        </p>
      </mat-card-content>
    </mat-card>

    <div class="features">
      <ul>
        <li><mat-icon>check_circle</mat-icon> Over 40 leading clinics</li>
        <li>
          <mat-icon>check_circle</mat-icon> Trusted doctors across 20+
          specialties
        </li>

        <li>
          <mat-icon>check_circle</mat-icon> Award-winning practice management
        </li>
        <li>
          <mat-icon>check_circle</mat-icon> In the mission of improving health
        </li>
        <li>
          <mat-icon>check_circle</mat-icon> Feel like you are at Home Services
        </li>
      </ul>
      <button
        mat-raised-button
        color="primary"
        class="appointment-btn"
        routerLink="/appointment"
      >
        BOOK AN APPOINTMENT
      </button>
    </div>
  </div>
</div>
