<div class="hero-container">
  <div class="content">
    <div class="content">
      <!-- <small>We Prioritize Your</small> -->
      <h1>Whitening & Cleaning</h1>
    </div>
    <p class="subquote">Your Trusted Dentist, Right Here</p>
  </div>

  <div class="hours-container">
    <div class="about-section">
      <mat-card>
        <div class="service-content">
          <span><i class="fas fa-teeth-open"></i></span>
        </div>
        <mat-card-title>About the service</mat-card-title>
        <mat-card-content>
          <p>
            Whitening and cleaning are essential dental services designed to
            enhance the appearance of your smile and maintain optimal oral
            hygiene. These treatments remove stains, plaque, and tartar, leaving
            your teeth sparkling clean and healthy.
          </p>

          <ul>
            <li>
              Brightens your smile by eliminating discoloration caused by
              coffee, tea, and other staining agents.
            </li>
            <li>
              Promotes oral health by removing harmful plaque and tartar
              buildup.
            </li>
            <li>
              Leaves your teeth feeling smooth and refreshed with a professional
              polish.
            </li>
          </ul>

          <p>
            Regular whitening and cleaning sessions are crucial for maintaining
            a confident smile and preventing oral health issues like cavities
            and gum disease. These procedures are quick, effective, and provide
            long-lasting results, making them a vital part of your dental care
            routine.
          </p>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>
<div class="empty"></div>
