<div class="hero-container">
  <div class="content">
    <div class="content">
      <!-- <small>We Prioritize Your</small> -->
      <h1>Pediatric Dentistry</h1>
    </div>
    <p class="subquote">Your Trusted Dentist, Right Here</p>
  </div>

  <div class="hours-container">
    <div class="about-section">
      <mat-card>
        <div class="service-content">
          <span><i class="fas fa-baby"></i> </span>
        </div>
        <mat-card-title>About the service</mat-card-title>
        <mat-card-content>
          <p>
            Pediatric dentistry focuses on the oral health of children,
            providing specialized care from infancy through adolescence. It
            emphasizes preventative care, early detection, and treatment of
            dental issues to ensure a healthy foundation for a lifetime of
            smiles.
          </p>

          <ul>
            <li>
              Tailored dental care for children in a comfortable and
              child-friendly environment.
            </li>
            <li>
              Emphasis on preventative treatments, including fluoride
              applications and sealants.
            </li>
            <li>
              Education on proper brushing and flossing techniques for lifelong
              oral health.
            </li>
          </ul>

          <p>
            Pediatric dentists are trained to address the unique needs of young
            patients, ensuring their comfort while providing comprehensive care.
            From routine checkups to managing dental anxiety, pediatric
            dentistry is essential for building healthy habits and preventing
            future dental problems.
          </p>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>
<div class="empty"></div>
