<div class="hero-container">
  <div class="content">
    <!-- <small>We Prioritize Your</small> -->
    <h1>Frequently Asked Questions</h1>
    <p class="subquote">Everything You Need to Know</p>
  </div>
</div>
<div class="hours-container">
  <div class="about-section">
    <mat-card>
      <mat-card-title><h3>FAQs</h3></mat-card-title>
      <mat-card-content>
        <p>
          Here are some frequently asked questions (FAQs) about our dental
          clinic for both patients and staff:
        </p>

        <ul>
          <li>
            <strong>For Patients:</strong>
            <ul>
              <li>
                <strong
                  >What should I expect during my first dental visit?</strong
                >
                <p>
                  You can expect a comprehensive examination, including X-rays
                  if necessary, and a discussion about your dental health and
                  treatment options.
                </p>
              </li>
              <li>
                <strong>How can I schedule an appointment?</strong>
                <p>
                  Appointments can be scheduled by calling our clinic directly
                  or using our online booking system through our website.
                </p>
              </li>
              <li>
                <strong>Are dental procedures covered by insurance?</strong>
                <p>
                  We accept most insurance plans. Our staff can assist you in
                  verifying coverage and understanding your benefits before your
                  appointment.
                </p>
              </li>
            </ul>
          </li>
          <li>
            <strong>For Staff:</strong>
            <ul>
              <li>
                <strong
                  >What are the clinic's working hours and shift
                  patterns?</strong
                >
                <p>The clinic is open during the following hours:</p>

                <ul>
                  <li>Monday - Friday: 10:00 AM to 05:00 PM</li>
                  <li>Saturday: 10:00 AM to 03:00 PM</li>
                  <li>Sunday: Closed</li>
                </ul>
                <p>
                  Shifts for staff range from 10:00 AM to 3:00 PM or 3:00 PM to
                  5:00 PM, depending on the schedule.
                </p>
              </li>

              <li>
                <strong
                  >How should we handle patient privacy and
                  confidentiality?</strong
                >
                <p>
                  All patient information must be kept confidential. Use secure
                  systems for storing and sharing patient records, and never
                  discuss patient information outside the clinic.
                </p>
              </li>
              <li>
                <strong
                  >What is the procedure for handling medical
                  emergencies?</strong
                >
                <p>
                  In the event of a medical emergency, immediately notify the
                  dentist or healthcare provider on duty. Follow the clinic’s
                  emergency protocol for treatment and notify relevant
                  authorities if needed.
                </p>
              </li>
            </ul>
          </li>
        </ul>

        <p>If you have additional questions, feel free to reach out.</p>
      </mat-card-content>
    </mat-card>
  </div>
</div>
