<div class="container">
  <div class="container-img">
    <img src="/about.webp" loading="lazy" alt="Dental Image" />
  </div>
  <div class="about-us">
    <div class="header">
      <div class="main-heading">
        <h3>Who we are</h3>
        <p>
          At Authentic Dental Service, we are a dedicated team of dental
          professionals committed to providing exceptional care and services. We
          believe in creating a comfortable, friendly, and trustworthy
          environment for each of our patients. Your health and smile are our
          top priorities, and we are here to support you every step of the way.
        </p>
      </div>
      <div class="sub-headings">
        <div class="expert-service">
          <mat-icon>diamond</mat-icon>
          <h3>Expert services</h3>
          <p>
            Our clinic offers expert dental care, from cleanings to advanced
            treatments, ensuring a comfortable and effective experience.
          </p>
        </div>
        <div class="great-support">
          <mat-icon>phone</mat-icon>
          <h3>Great support</h3>
          <p>
            We support your dental care journey with advice, appointments, and
            guidance to achieve your perfect smile.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
